<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Playist Creator</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
</head>
<body>
	<div class="main">
		<header>
			<h1>Playlist Creator</h1>
		</header>
		<nav>
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/playlists">Playlists</a></li>
				<li><a href="#">Edit</a></li>
				<li><a href="/clear">Clear</a></li>
			</ul>
		</nav>

		<div class="container">
			<%= yield %>
		</div>
	</div>
</body>
</html>