<!-- Form to enter a new playlist -->
<form action="/" method='post'>
	<div class="form-group">
		<label for="playlist_name">Create new Playlist:</label>
		<input name="playlist_name" id="playlist_name" type="text" class="form-control">
	</div>
	<button type="submit" class="btn btn-warning">Submit</button>
</form>